.search-form-add {
    display: none;
    width: 100%;
    font-size: 1rem;
    max-width: 550px;
    margin: 0 auto;
    h3 {
        text-align: left;
    }
    .div-input {
        display: flex;
        flex-direction: column;
        margin: 1em 0;

        span {
            color: rgba(0, 0, 0, 0.575);
            margin-left: 10px;
            margin-bottom: 2.5px;
        }

        input {
            padding: .4em .9em;
            height: 40px;
            font-size: .9em;
            border: 1px solid rgba(0, 0, 0, 0.308);
            border-radius: 2px;
            outline: none;
            font-family: inherit;
            background-color: #fcfcfc;
        }

      

        textarea {
            padding-top: 1em;
            padding-left: 1em;
            padding-right: 1em;
            padding-bottom: 3.5em;
            font-family: inherit;
            font-size: .9rem;
            border: 1px solid rgba(0, 0, 0, 0.308);
            border-radius: 2px;
            resize: none;
            outline: none;
            background-color: #fcfcfc;
        }
    }

    .select {
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none !important;
        background: transparent;
        display: inline-block;
        font-family: inherit;
        font-size: .9rem;
        width: 100%;
        border: 1px solid rgba(0, 0, 0, 0.308);
        border-radius: 2px;
        background-color: #fcfcfc;
        line-height: 1.4;
        font-weight: normal;
        padding: .4em .9em;
        height: 40px;
        vertical-align: top;
        outline: 0;
        -webkit-appearance: none;
        -moz-appearance: none;
        -ms-appearance: none;
        appearance: none !important;
    }
    .select-span {
        position: relative;
        &:after {
            content: '▼';
            position: absolute;
            right: 20px;
            top: 35px;
        }
    }

    //placeholder
    ::-webkit-input-placeholder {
        color: #000;
        font-size: .9rem;
    }

    :-moz-placeholder {
        /* Firefox 18- */
        color: #000;
        font-size: .9rem;
    }

    ::-moz-placeholder {
        /* Firefox 19+ */
        color: #000;
        font-size: .9rem;
    }

    :-ms-input-placeholder {
        color: #000;
        font-size: .9rem;
    }
}



.form-add-btn-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0 -8px;
    div {
        padding: 0 8px;
        width: 100%;
        button {
            width: 100%;
            padding: 1em 0;
            color: #fff;
            text-transform: uppercase;
            border-radius: 2px;
            transition: all .6s;
            &:hover {
                cursor: pointer;
            }
        }
    }

    .done {
        background-color: #29b133;

        &:hover {
            background-color: #31ca3b;

        }
    }

    .dismiss {
    
        background-color: #b22c29;

        &:hover {
            background-color: #cc322f;
        }
    }
}

@media (max-width: 425px) {
    .form-add-btn-container {
        flex-direction: column;
        .dismiss {
            margin-top: 8px;
        }
    }
}