.container {
    max-width: 2560px;
    margin: 0 auto;
    padding: 0 30px;
}
@media (max-width: 1440px) {
    .container {
        max-width: 1440px;
    }
}
@media (max-width: 1170px) {
    .container {
        max-width: 1170px;
    }
}
@media (max-width: 768px) {
    .container {
        max-width: 768px;
    }
}
@media (max-width: 425px) {
    .container {
        max-width: 425px;
    }
}
@media (max-width: 375px) {
    .container {
        max-width: 375px;
    }
}
@media (max-width: 320px) {
    .container {
        max-width: 320px;
    }
}