*,
::after,
::before {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html,
body {
  font-size: calc(.5em + 1vw);
  font-family: 'Roboto Condensed', sans-serif;
  background-image: url(../img/bg.png);
  padding-bottom: 5em;
}

@media (max-width: 425px) {
  html,
  body {
    font-size: calc(.8em + 1vw);
  }
}

.container {
  max-width: 2560px;
  margin: 0 auto;
  padding: 0 30px;
}

@media (max-width: 1440px) {
  .container {
    max-width: 1440px;
  }
}

@media (max-width: 1170px) {
  .container {
    max-width: 1170px;
  }
}

@media (max-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (max-width: 425px) {
  .container {
    max-width: 425px;
  }
}

@media (max-width: 375px) {
  .container {
    max-width: 375px;
  }
}

@media (max-width: 320px) {
  .container {
    max-width: 320px;
  }
}

.header-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.header-container__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
  text-align: center;
  margin-top: 1.5em;
}

.header-container__item img {
  width: 100%;
  max-width: 500px;
}

.header-container__item h1 {
  color: #2993b2;
  line-height: 1.5;
  text-transform: uppercase;
}

.header-container__item .h1-span {
  color: #383d41;
  text-transform: uppercase;
  font-weight: 700;
  line-height: 1.5;
  letter-spacing: 1.8px;
}

@media (max-width: 768px) {
  .header-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.blue-bg-container {
  max-width: 650px;
  margin: 0 auto;
  background-color: #2993b2;
  color: #fff;
  padding: 1.5em 0;
}

.blue-bg-container h2 {
  font-size: 1.5rem;
  text-transform: uppercase;
  margin-bottom: .75em;
}

.blue-bg-container .blue-bg {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.blue-bg-container .blue-bg__item {
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.blue-bg-container .blue-bg .blue-name {
  font-size: .8rem;
}

.blue-bg-container .blue-bg .blue-number {
  font-size: 1.4rem;
}

.social h3 {
  margin-bottom: 0.2em;
  text-align: right;
  color: rgba(0, 0, 0, 0.637);
}

.social__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  max-width: 6em;
  float: right;
  margin-right: 1.7em;
}

.social__icon div {
  padding-left: .2em;
  -ms-flex-preferred-size: 33.333%;
      flex-basis: 33.333%;
}

.social__icon img {
  width: 100%;
  max-width: 2em;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .social h3 {
    text-align: center;
  }
  .social__icon {
    max-width: 100%;
    float: none;
  }
  .social__icon div {
    -ms-flex-preferred-size: 16.666%;
        flex-basis: 16.666%;
  }
}

@media (max-width: 425px) {
  .blue-bg {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .blue-bg__item:not(:first-child) {
    margin-top: 1em;
  }
}

.search {
  margin-top: 1.5em;
}

h3 {
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 1.2px;
  color: #383d41;
  margin-bottom: 1em;
}

.search-position {
  max-width: 650px;
  margin: 0 auto;
}

.search-position span {
  font-size: 0.9rem;
}

.search-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  max-width: 650px;
}

.search-form__input {
  -ms-flex-preferred-size: 80%;
      flex-basis: 80%;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.search-form__input input {
  width: 100%;
  height: 2rem;
  padding-left: 15px;
  outline: #08d85856;
  border: none;
}

.search-form__input ::-webkit-input-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 0.8rem;
}

.search-form__input ::-moz-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 0.8rem;
}

.search-form__input :-moz-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 0.8rem;
}

.search-form__input :-ms-input-placeholder {
  color: #272727;
  text-transform: uppercase;
  letter-spacing: .8px;
  font-size: 0.8rem;
}

.search-form__btn {
  height: 2rem;
  -ms-flex-preferred-size: 20%;
      flex-basis: 20%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #08d856;
}

.search-form__btn button {
  background-color: #08d856;
  border: none;
  height: 2rem;
  width: 100%;
  outline-color: #11da5ec2;
  -webkit-transition: all .8s;
  transition: all .8s;
}

.search-form__btn button:hover {
  background-color: #06f762;
  cursor: pointer;
}

.search-form__btn span {
  color: #fff;
  font-size: 1.1rem;
}

@media (max-width: 425px) {
  .search-form__input {
    -ms-flex-preferred-size: 65%;
        flex-basis: 65%;
  }
  .search-form__btn {
    -ms-flex-preferred-size: 35%;
        flex-basis: 35%;
  }
}

.search-add__btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
  padding: 0.5em 0;
  background-color: #037c9f;
  color: #fff;
  font-size: 1rem;
  -webkit-transition: all .6s;
  transition: all .6s;
}

.search-add__btn:hover {
  cursor: pointer;
  background-color: #0393bb;
}

.search-add__btn img {
  width: 100%;
  max-width: 1em;
  margin-right: 15px;
}

.advert-table {
  padding: 5em 0;
  font-size: .75rem;
  text-align: left;
}

.advert-table table {
  -webkit-box-shadow: 0 0 10px 6px rgba(204, 204, 204, 0.466);
          box-shadow: 0 0 10px 6px rgba(204, 204, 204, 0.466);
  border: 1px solid rgba(204, 204, 204, 0.418);
}

.advert-table thead {
  background-color: #e4e2d7;
}

.advert-table thead tr th {
  padding: 1em .5em;
}

.advert-table tbody {
  background-color: rgba(255, 255, 255, 0.65);
}

.advert-table tbody td {
  padding: 1em .5em;
}

.advert-table tbody tr {
  border: 5px solid #e4e2d7;
}

.advert-table .table-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.advert-table .table-btn-container__span {
  text-transform: uppercase;
  font-size: 1.3rem;
  color: #ff2a00;
}

.advert-table .table-btn-container__btn button {
  font-size: 1rem;
  padding: .5em 1em;
  background-color: #019cd6;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.advert-table .table-btn-container__btn button:hover {
  cursor: pointer;
}

.advert-table .table-btn-container__btn button img {
  width: 100%;
  max-width: .8em;
  margin-left: .2em;
}

.footable-details tbody tr th {
  padding-left: 1em;
}

.fooicon {
  font-size: 1rem;
}

tbody .td-btn-container {
  text-align: center;
  font-size: 1rem;
}

tbody .td-btn-container button {
  color: #fff;
  font-size: 0.6rem;
  width: 100%;
}

tbody .td-btn-container button:first-child {
  background-color: #21c4d7;
  padding: .5em 0;
  margin-bottom: 0.2em;
  -webkit-transition: all .6s;
  transition: all .6s;
}

tbody .td-btn-container button:first-child:hover {
  cursor: pointer;
  background-color: #22d4e7;
}

tbody .td-btn-container button:last-child {
  background-color: #21d7a1;
  padding: .5em 0;
  -webkit-transition: all .6s;
  transition: all .6s;
}

tbody .td-btn-container button:last-child:hover {
  cursor: pointer;
  background-color: #24f3b5;
}

td img {
  max-width: 20px;
}

.all-list-table {
  padding: 5em 0;
  font-size: .75rem;
  text-align: left;
}

.all-list-table table {
  -webkit-box-shadow: 0 0 10px 6px rgba(204, 204, 204, 0.466);
          box-shadow: 0 0 10px 6px rgba(204, 204, 204, 0.466);
  border: 1px solid rgba(204, 204, 204, 0.418);
}

.all-list-table thead {
  background-color: #e4e2d7;
}

.all-list-table thead tr th {
  padding: 1em .5em;
}

.all-list-table tbody {
  background-color: rgba(255, 255, 255, 0.65);
}

.all-list-table tbody td {
  padding: 1em .5em;
}

.all-list-table tbody tr {
  border: 5px solid #e4e2d7;
}

.all-list-table .table-btn-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 1em;
}

.all-list-table .table-btn-container__span {
  text-transform: uppercase;
  font-size: 1.3rem;
}

.all-list-table .table-btn-container__btn button {
  font-size: 1rem;
  padding: .2em 1em;
  background-color: #fdfeff;
  color: #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: none;
}

.all-list-table .table-btn-container__btn button:hover {
  cursor: pointer;
}

.all-list-table .table-btn-container__btn button img {
  width: 100%;
  max-width: .8em;
  margin-left: .2em;
}

.search-form-add {
  display: none;
  width: 100%;
  font-size: 1rem;
  max-width: 550px;
  margin: 0 auto;
}

.search-form-add div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 1em 0;
}

.search-form-add div span {
  color: rgba(0, 0, 0, 0.747);
}

.search-form-add div input {
  padding: 1em .5em;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 2px;
}

.search-form-add div select {
  padding: 1em .5em;
  border: 1px solid rgba(0, 0, 0, 0.308);
}

.search-form-add div textarea {
  padding: 2em .5em;
  border: 1px solid rgba(0, 0, 0, 0.308);
  border-radius: 2px;
  resize: none;
}

.form-add-btn-container button {
  width: 100%;
  padding: 1em 0;
  color: #fff;
  text-transform: uppercase;
  border-radius: 2px;
}

.form-add-btn-container .done {
  background-color: green;
}

.form-add-btn-container .dismiss {
  margin-top: .5em;
  background-color: red;
}

#form-top {
  display: none;
}

.form-top-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 450px;
  width: 100%;
  margin: 0 auto;
  text-align: center;
}

.form-top-container p {
  margin: 1em 0;
}

.form-top-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
}

.form-top-btn button {
  text-transform: uppercase;
  color: #fff;
}

.form-top-btn button:first-child {
  background-color: green;
  padding: 1em 0;
}

.form-top-btn button:last-child {
  margin-top: 0.5em;
  background-color: red;
  padding: 1em 0;
}

.request-form {
  display: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.request-form h4 {
  text-align: left;
  text-transform: uppercase;
  -webkit-columns: rgba(0, 0, 0, 0.555);
          columns: rgba(0, 0, 0, 0.555);
  margin-bottom: 1em;
}

.request-form .invest {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.request-form .invest input:first-child {
  margin-right: 0.2em;
}

.request-form .invest input:last-child {
  margin-left: 0.2em;
}

.request-form div {
  margin-top: 0.5em;
}

.request-form div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.request-form div input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
}

.request-form ::-webkit-input-placeholder {
  font-size: 1rem;
}

.request-form ::-moz-placeholder {
  font-size: 1rem;
}

.request-form :-moz-placeholder {
  font-size: 1rem;
}

.request-form :-ms-input-placeholder {
  font-size: 1rem;
}

.quest-form {
  display: none;
  width: 100%;
  max-width: 400px;
  margin: 0 auto;
  /* Firefox 19+ */
  /* Firefox 18- */
}

.quest-form h4 {
  text-align: left;
  text-transform: uppercase;
  -webkit-columns: rgba(0, 0, 0, 0.555);
          columns: rgba(0, 0, 0, 0.555);
  margin-bottom: 1em;
}

.quest-form div {
  margin-top: 0.5em;
}

.quest-form div span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.quest-form div input {
  width: 100%;
  padding: 1em;
  outline: none;
  border: none;
}

.quest-form ::-webkit-input-placeholder {
  font-size: 1rem;
}

.quest-form ::-moz-placeholder {
  font-size: 1rem;
}

.quest-form :-moz-placeholder {
  font-size: 1rem;
}

.quest-form :-ms-input-placeholder {
  font-size: 1rem;
}

#filter-form {
  display: none;
}

#filter-form .container {
  padding: 1em 0.5em;
}

.fancybox-content {
  padding: 1em;
}

.answer-container {
  width: 100%;
}

.answer-item {
  padding: 0 1em;
  background-color: #fff;
  width: 100%;
  margin: 5px auto;
  border: 1px solid rgba(0, 0, 0, 0.158);
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.answer-item__title {
  position: relative;
  padding-left: 30px;
  margin-top: 25px;
  margin-bottom: 15px;
  color: #333333;
  border-bottom: 1px solid rgba(0, 0, 0, 0.349);
  padding-bottom: 5px;
}

.answer-item__title:hover {
  cursor: pointer;
}

.answer-item__title:before, .answer-item__title:after {
  content: '';
  width: 15px;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.589);
  position: absolute;
  top: 12px;
}

.answer-item__title:before {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
  left: 0;
}

.answer-item__title:after {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
  left: 11px;
}

.answer-item__text {
  margin-top: 5px;
  padding: 10px;
  display: none;
}

.calendar .gap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .gap-container .gap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.calendar .gap-container .gap-item input {
  padding-top: .5em;
  padding-bottom: 0.5em;
  padding-left: 3em;
  background-image: url(../img/icons/calendar.svg);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 5px 50%;
  border: 1px solid #ccc;
}

.gap-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gap-container .gap-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.gap-container .gap-item input {
  padding: .5em;
  border: 1px solid rgba(204, 204, 204, 0.404);
}

.gap-container ::-webkit-input-placeholder {
  text-align: center;
}

.gap-container :-moz-placeholder {
  /* Firefox 18- */
  text-align: center;
}

.gap-container ::-moz-placeholder {
  /* Firefox 19+ */
  text-align: center;
}

.gap-container :-ms-input-placeholder {
  text-align: center;
}

.checkbox-container h4 {
  text-align: left;
  color: rgba(0, 0, 0, 0.589);
  margin-bottom: 1em;
}

.checkbox-container div {
  margin-top: 0.5em;
}

.filter-btn-container {
  text-align: center;
  max-width: 400px;
  margin: 0 auto;
}

.filter-btn {
  text-transform: uppercase;
  width: 100%;
  text-align: center;
  margin: 0 auto;
  padding: 1em 0;
  background-color: #21c4d7;
  color: #fff;
}

@media (max-width: 500px) {
  .gap-container .gap-item input {
    padding: 0.5em 1em;
  }
}

@media (max-width: 425px) {
  .calendar .gap-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .gap-container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.answer-item__title.activeA:before,
.answer-item__title.activeA:after {
  background-color: #5EA2F1;
  -webkit-transition: all .4s;
  transition: all .4s;
}

.answer-item__title.activeA:before {
  -webkit-transform: rotate(-40deg);
          transform: rotate(-40deg);
}

.answer-item__title.activeA:after {
  -webkit-transform: rotate(40deg);
          transform: rotate(40deg);
}
/*# sourceMappingURL=style.css.map */