*,
::after,
::before {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    font-size: calc(.5em + 1vw);
    font-family: 'Roboto Condensed', sans-serif;
    background-image: url(../img/bg.png);
    padding-bottom: 5em;
}

@media (max-width:425px) {

    html,
    body {
        font-size: calc(.8em + 1vw);
    }
}

@import '_layout.scss';

@import '_list.scss';

@import '_form-add.scss';

@import '_form-top.scss';

@import 'quest-request.scss';

@import 'filter-form.scss';